
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Raleway:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}


body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
  }
  
/* navbar   navbar   navbar   navbar   navbar   navbar   navbar   start*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 100%;
}

.navbar-nav .nav-item {
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  color: #457B9D !important;
  /* font-weight: 600 !important; */
}

.login-btn {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 8px !important;
  letter-spacing: 1px;
  background-color: #96c9ab !important;
  border-radius: 20px !important;
  color: white !important;
  font-weight: 600 !important;
  border: none;
  margin-left: 20px;
}

.login-btn:hover {
  background-color: #8FBBA1 !important;
}

.navbar-brand img {
  height: 25px;
  margin-right: 20px;
}

.moto-hero {
  margin-top: 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar-nav {
    flex-direction: column; 
    width: 100%; 
  }

  .navbar-nav .nav-item {
    margin: 10px 0; 
    width: 100%; 
    text-align: center; 
  }

  .login-btn {
    margin: 10px 0; 
    width: 100%; 
  }

  .dropdown-menu {
    width: 100%; 
  }
}

/* navbar   navbar   navbar   navbar   navbar   navbar   navbar   end*/

@media (max-width: 768px) {
  .small-table {
      font-size: 0.6rem; 
  }
  .small-table th, .small-table td {
      padding: 0.3rem; 
  }
}



/* section1   section1   section1   section1   section1   start */
.moto-hero {
  font-family: "Nunito Sans", sans-serif;
  background-image: url('../images/pexels-molnartamasphotography-25635758.webp');  
  background-size: cover;
  background-position: center;
  padding: 350px 20px; 
  margin-top: -10px;
  color: white;
  text-align: center; 
  position: relative;
  display: flex;
  justify-content: center;  
  align-items: center; 
}

.moto-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.Moto-containerHero {
  position: relative;
  z-index: 2;
  max-width: 100%; 
  margin: 0 auto; 
  padding-left: 20px; 
}
.moto-hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;  
  max-width: 100%; 
  margin-top: -180px;  
}
.moto-hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.moto-hero-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.moto-cta-btn {
  background-color: #8FBBA1;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none !important;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.moto-cta-btn:hover {
  background-color: #8FBBA1;
  color: white;
}

/* Selection bar inside hero section */
.selection-bar {
  position: absolute;
  top: 120%;  
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f5f5;  
  padding: 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 95%;  
}

.selection-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.location-input, .date-picker, .search-btn {
  font-family: "Nunito Sans", sans-serif;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.location-input {
  width: 300px;
}


.search-btn {
  background-color: #8FBBA1;
  color: white;
  width: 30%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.search-btn:hover {
  background-color: #8FBBA1;
}

@media (max-width: 768px) {
  .selection-bar {
    width: 100%;
    height: 110%;
    bottom: 5%;
  }
  .selection-container {
    flex-direction: column;
  }
  .location-input, .date-picker, .search-btn {
    width: 100%;
    margin: 5px 0;
  }
}
/* section1   section1   section1   section1   section1   end */

.ftco-about {
  padding: 5rem 0;
}

.ftco-about .img {
  background-size: cover;
  background-position: center;
}
.subheading {
  color: #00bfa5;
}
.mb-3{
  color: #457B9D;
  font-weight: 700;

}
.ftco-about .wrap-about {
  padding: 2rem;
}

.ftco-about .wrap-about h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #457B9D;
}

.ftco-about .wrap-about p {
  margin-bottom: 1.5rem;
  color: #333;

}

.ftco-about .wrap-about .btn-primary {
  padding: 0.75rem 1.5rem;
  color: #ffffff;
  background-color: #457B9D;
}

/* services services  services */
.services {
  padding: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.75rem;
  transition: box-shadow 0.3s ease;
  text-align: center;
  width: 100%;
  height: 100%;
}

.services:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.services .icon {
  width: 4rem;
  height: 4rem;
  background-color: #457B9D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
}

.services .icon img {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(0) invert(1); 

}

.services .text {
  padding: 1rem;
}

.services .text h3 {
  color: #00bfa5;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.services .text p {
  font-size: 0.875rem;
  color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .services {
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .services .icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .services .icon img {
    width: 2rem;
    height: 2rem;
  }

  .services .text h3 {
    font-size: 1.125rem;
  }

  .services .text p {
    font-size: 0.75rem;
  }
}

/* section3 section3 section3 section3 section3 section3 section3 section3 section3 start */
.how-it-works {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 160px;
}

.how-it-works h2 {
  font-weight: 600;
  font-size: x-large;
  color: #00bfa5;
  margin-bottom: 20px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; 
  gap: 20px; 
  margin-bottom: 100px;
}

.step {
  flex: 1 1 30%; 
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 360px; 
  min-width: 280px; 
}

.step img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.step h3 {
  color: #00bfa5;
  font-size: large;
  margin-bottom: 10px;
}

.step p {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}


/* FAQ  FAQ  FAQ  FAQ  FAQ start */

.faq-section {
  max-width: 1400px;
  margin: 150px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-title {
  text-align: center;
  color: #457B9D;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.faq-container {
  border-top: 2px solid #8FBBA1;
}

.faq-item {
  border-bottom: 1px solid #8FBBA1;
  margin-bottom: 10px;
}

.faq-toggle {
  display: none;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #7A9E8A;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #8FBBA1;
}

.toggle-button {
  background-color: #457B9D;
  border: none;
  color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button:hover {
  background-color: #6a8b9d;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background-color: #f9f9f9;
  transition: max-height 0.5s ease-out;
  padding: 0 15px;
}

.faq-answer p {
  margin: 15px 0;
}

/* Show the answer when the checkbox is checked */
.faq-toggle:checked ~ .faq-answer {
  max-height: 200px; /* Adjust this value based on your content */
}

/* Change the toggle button when the item is active */
.faq-toggle:checked ~ .faq-question .toggle-button {
  background-color: #6a8b9d;
  content: "-";
}


/* FAQ  FAQ  FAQ  FAQ  FAQ   FAQ  FAQ End */


/* Footer */

.ftco-footer {
  margin-top: 60px;
  padding: 5em 0;
  background: #96c9ab;
  color: #ffffff;
}

.ftco-footer .ftco-footer-widget h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.ftco-footer .ftco-footer-widget a {
  color: #ffffff;
  text-decoration: none; /* No text decoration */
}

.ftco-footer .ftco-footer-widget a:hover {
  color: #ebebeb; /* Changed hover color */
}

.ftco-footer .ftco-footer-social a {
  color: #ffffff;
  text-decoration: none; /* No text decoration */
}

.ftco-footer .ftco-footer-social a:hover {
  color: #ebebeb; /* Changed hover color */
}

.ftco-footer .block-23 ul {
  padding: 0;
  margin: 0;
}

.ftco-footer .block-23 ul li {
  list-style: none;
  margin-bottom: 10px;
}

.ftco-footer .block-23 ul li .icon {
  font-size: 16px;
  color: #ffffff;
}

.ftco-footer .block-23 ul li .text {
  margin-left: 20px;
}

.ftco-footer .block-23 ul li a {
  color: #ffffff;
  text-decoration: none; /* No text decoration */
}

.ftco-footer .block-23 ul li a:hover {
  color: #ebebeb; /* Changed hover color */
}

.linkfotermotorlink {
  color: #ffffff;
  text-decoration: none; /* No text decoration */
}

.linkfotermotorlink:hover {
  color: #ebebeb; /* Changed hover color */
}


  /* Scroll to Top Button start */
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7A9E8A;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 0; /* Initially hidden */
    z-index: 50;
  }
  .scroll-to-top.show {
    opacity: 1;
  }
  .scroll-to-top:hover {
    background-color: #8FBBA1;

  }
  
    /* Scroll to Top Button end */  


/* meet the feeld */
.section2_h2 {
  font-weight: 600;
  font-size: x-large;
  text-align: center;
  color: #457B9D;
  padding-top: 140px;
}

@media (max-width: 768px) {
  .section2_h2 {
    margin-top: 50px;
  }
}

main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

/* Swiper Container */
.swiper {
  width: 100%;
  padding: 2rem 0;
}

.swiper-slide {
  width: 100px; 
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  box-shadow: 0.063rem 0.5rem 1.25rem rgba(0, 0, 0, 0.1216);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Image Styling */
.swiper-slide-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 0;
  /* border-radius: 0.5rem; */
}

.swiper-slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.swiper-slide-active:hover img {
  transform: scale(1.1);
}

.swiper-slide-active:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

/* Slide Content */
.swiper-slide-content {
  background: #fff;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.swiper-slide-content h2 {
  color: #457B9D;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.swiper-slide-content p {
  color: #00bfa5;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}

/* Show More Button */
.swiper-slide-content .show-more {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #24aad9;
  color: white;
  border-radius: 50%;
  box-shadow: 0px 0.125rem 0.875rem #24aad96b;
  margin-top: 1em;
  opacity: 0;
  transition: opacity 0.3s ease-in, height 0.3s ease-in;
  margin-left: auto;
}

.swiper-slide-active:hover .show-more {
  opacity: 1;
  height: 3.125rem;
}

.swiper-slide-content .show-more:hover {
  background: #1184ac;
  text-decoration: none;
}

@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}
